"extends": [
  "standard",
  "prettier",
  "prettier/flowtype",
  "prettier/react",
  "prettier/standard"
],
"plugins": [
  "react",
  "react-native",
  "flowtype",
  "prettier",
  "standard"
],
"scripts": {
    "eslint-check": "eslint --print-config .eslintrc.js | eslint-config-prettier-check"
  }
